---
import HomeLayout from '../layouts/HomeLayout.astro';
const pageTitle = "EasyFront";

---
<HomeLayout pageTitle={pageTitle}>
  <div class="home">
    <h1 class="homeTitle">EasyFront</h1>
    <h2>一站式代码工程规范工具</h2>
  </div>
</HomeLayout>

<style>
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .homeTitle {
    font-size: 7rem;
  }
</style>