---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
const { href } = Astro.props
---
<header>
    <nav>
        <Hamburger class="ham" />
        <Navigation class="navi" href={href} />
        <ThemeIcon class="theme" />
    </nav>
</header>

<style>
    header {
        align-self: flex-end;
    }
    nav {
        display: flex;
    }

</style>